.dart_tool/
.idea/
build/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata

*.iml
*.log

android/.gradle
android/local.properties

ios/Pods
ios/.symlinks
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

.vscode/